<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1>Full Menu</h1>

  <h2>Mains</h2>
  <%restaurant.menu.forEach((item, index)=>{%>
    <%if (item.category === 'mains') {%>
      <li>
        <%= item.name %>: $<%= item.price.toFixed(2) %>: Rating: <%= item.rating %>
        <% if (item.rating === 5) { %>
          ⭐
        <% } %>
      </li>
    <%} %>
  <% })%>

  <h2>Desserts</h2>
  <%restaurant.menu.forEach((item, index)=>{%>
    <%if (item.category === 'desserts') {%>
      <li>
        <%= item.name %>: $<%= item.price.toFixed(2) %>: Rating: <%= item.rating %>
        <% if (item.rating === 5) { %>
          ⭐
        <% } %>
      </li>
    <%} %>
  <% })%>

  <h2>Sides</h2>
  <%restaurant.menu.forEach((item, index)=>{%>
    <%if (item.category === 'sides') {%>
      <li>
        <%= item.name %>: $<%= item.price.toFixed(2) %>: Rating: <%= item.rating %>
        <% if (item.rating === 5) { %>
          ⭐
        <% } %>
      </li>
    <%} %>
  <% })%>
</body>
</html>
